.sceance {
  display: flex; justify-content: center; align-items:flex-start;
  flex-direction: column;
}
.sceanceSelect {
  width: 100%;
  display: flex;
}
.sceanceSelect span {
  display: flex;justify-content: center; align-items: center;
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(40,40,40);
}
.sceanceSelect select {
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  padding: 5px;
  font-weight: bold;
  border: solid 2px rgb(223, 225, 230);
  color: rgb(40,40,40);
  margin-right: 20px;
  border-radius: 0em;
  font-size: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.sceanceSelect2 {
  margin-top: 5px;
}
.sceanceSelect2 select {
  border-radius: 0.5em;
  background-color: rgb(226, 52, 52);
}
.sceanceButton {
  margin-top: 10px;
  display: flex;
  width: 100%;
}
.sceanceOption {
  margin-top: 50px;
  width: 1000px;
  display: flex; justify-content: center; align-items: center;
  border-top: solid 1px;
  border-left: solid 1px;
  text-align: center;
  flex-direction: column;
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
}
.sceanceElement {
  width: 100%;
  display: flex;
  font-size: 15px;
  border-bottom: solid 1px;
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
}
.sceanceElement > span {
  width: 125px;
  padding: 15px;
  border-right: solid 1px;
}
.sceanceElement img {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.sceanceAdd {
  margin-top: 20px;
  border-radius: 0.5em;
  border: solid 1px;
  padding: 5px
}

.sceanceTH {
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
  background-color: gray;
}
.sceanceTHL {
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
}