.enseignant {
  display: flex; justify-content: center; align-items: center;
  flex-direction: column;
}
.ensOption {
  width: 900px;
  display: flex; justify-content: center; align-items: center;
  border-top: solid 1px;
  border-left: solid 1px;
  text-align: center;
  flex-direction: column;
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
}
.ensElement {
  width: 100%;
  display: flex;
  border-bottom: solid 1px;
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
}
.ensElement > span {
  width: 180px;
  padding: 15px;
  border-right: solid 1px;
}
.ensElement img {
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.ensOption + div {
  margin-top: 60px;
  text-align: center;
}
.ensTH {
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
  background-color: gray;
}
.ensTHL {
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
}
